@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
    font-stretch: 0 1000;
    font-weight: 100 900;
    font-style: normal;
}

* {
    font-family: 'SF Pro', sans-serif;
    color: white;
    margin: 0;
    transition: all 0.6s cubic-bezier(0.29, -0.03, 0.16, 0.96);
    animation: auto;
    text-decoration: none;
}

:root {
    /* BACKGROUND */
        /* background */
        --bg-img: url(bg.png);


    /* CLOCK */
        /* color of the clock */
        --clock-color: rgba(255, 255, 255, 1.00);

        /* color of the clock's colon */
        --clock-colon: rgba(255, 255, 255, 0.50);

        /* size of the clock */
        --clock-size: 100px; 


    /* DATE */
        /* color of the date */
        --date-color: rgba(255, 255, 255, 0.75);

        /* size of the date */
        --date-size: 25px; 
        


    /* BASES ; more menu and main menu */
        /* color of the base */
        --base-background: rgba(255, 255, 255, 0);

        /* border of the base;
           - width *SOLID* color */
        --base-border: 1px solid rgba(255, 255, 255, 0.10);

        /* roundness of the base */
        --base-roundness: 20px;
        
        /* shadow of the base;
           - hoz-offset ver-offset blur-strength color*/
        --base-shadow: 0px 0px 20px #0000007a;
    


    /* SHORTCUTS */
        /* show the shortcut label (edited in html file);
          - set to auto if yes, set to none if no */
        --show-label: none;
    
        /* roundness of shortcut icons*/
        --sc-roundness: 21%;
    


    /* SEARCH BAR */
        /* color of the searchbar */
        --sb-background: rgba(0, 0, 0, 0.45);

        
}


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    background-attachment: fixed;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 12px;
    background: none;
    box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 1px 1.5px 4px 0px rgba(0, 0, 0, 0.10) inset;
}
  
input[type="range"]::-webkit-slider-runnable-track {
    height: 34px;
    border-radius: 12px;
    background: var(--sb-background);
    background-blend-mode: luminosity, color-burn;
    background-blend-mode: luminosity;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 

    height: 0px;
    width: 0px;
    background-color: transparent;

    box-shadow: -400px 0 0 400px rgba(255, 255, 255, 0.23);
}

.color-wheel {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    opacity: 1;
    box-shadow: none;
}

.color-wheel:hover {
    transform: scale(1.1);
}

.color-wheel:active {
    transform: scale(0.8);
}

.color-wheel::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-wheel::-webkit-color-swatch {
    border: 2px solid rgba(96, 96, 96, 0.674);
    border-radius: 50%;
}

.color-wheel::-webkit-color-swatch {
    border-radius: 50%;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.514);
}

.color-wheel::-webkit-color-picker {
    width: 200px;
    height: 200px;
    border: 10px solid red;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
}

#clock-container {
    text-align: center;
    margin-right: 150px;
}

#date {
    font-size: var(--date-size);
    color: var(--date-color);
    font-size: var(--date-size);
}

#clock {
    font-family: 'SF Pro';
    font-size: var(--clock-size);
    font-stretch: 132%;
    color: var(--clock-color);
    font-weight: 600;
    display: flex;
}

#hours {
    color: var(--clock-color);
}

#minutes {
    color: var(--clock-color);
}

#colon {
    font: inherit;
    color: var(--clock-colon);
}

#quick-actions {
    width: fit-content;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: var(--base-roundness);
    border: var(--base-border);
    background: var(--base-background);
    box-shadow: var(--base-shadow);
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    gap: 20px;
}

.section-label {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    text-align: center;
    width: 100%;}

#actions-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 356px;
}

.action-icon {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.217);
}

.action-icon:active {
        transform: scale(0.8);
        background-color: rgba(255, 255, 255, 0.142);
}

.action-icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
    scale: 1.1;
}

.action-icon img {
    width: 60px;
    border-radius: 13px;
    height: 60px;
    object-fit:cover;
}

#searchbar {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: calc(var(--base-roundness) - 12px);
    background: var(--sb-background);
    box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 1px 1.5px 4px 0px rgba(0, 0, 0, 0.10) inset;
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.23);
    gap: 5px;
    transition: all 0.1s cubic-bezier(0.68, 0.12, 0.15, 1.07);

    p{
        color: inherit;
        font: inherit;
    }
    form{
        width: 60px;
        color: inherit;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    input{
        color: inherit;
        font:inherit;
        width: 64px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: transparent;
        border: transparent;
        outline: none;
    }
    ::placeholder {
        color: inherit;
    }
}
#searchbar:focus-within {
    color: white;

    input {
        width: 100%;
    }
    form {
        width: 100%;
    }
}

#weather-info {
    width: 100%;
    height: 178px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    border-radius: var(--base-roundness);
    border: var(--base-border);
    background: var(--base-background);
    box-shadow: var(--base-shadow);
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
}

#weather-desc {
    margin-bottom: 0;
    height: 10px;
}

#weather-margin {
    margin-top: 0;
    opacity: 0.7;
}

.weather-hstack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.weather-vstack {
    margin-left: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.weather-hstack h1 {
    font-weight: 300;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

#hourly-forecast {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.forecast-hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecast-icon {
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.201);
    font-size: 18px;
}

#widgets {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#settings-button {
    position: fixed;
    top: 20px;
    right: 20px;

    height: 40px;
    width: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;

    border-radius: var(--base-roundness);
    border: var(--base-border);
    background: var(--base-background);
    box-shadow: var(--base-shadow);
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    outline:none;
    font-size: 16px;
}

#settings-button:active {
    transform: scale(0.8);
    background-color: rgba(255, 255, 255, 0.142);
}

#settings-button h1 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.543);
}
#settings-close {
    height: 20px;
    width: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--base-roundness);
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}



#settings-close:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#settings-close:active {
    transform: scale(0.5);
    background-color: rgba(255, 255, 255, 0.142);
}

#settings-button:hover {
    scale: 1.1;
}

#settings-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;

    box-sizing: border-box;
    padding: 10px 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;

    border-radius: var(--base-roundness);
    border: var(--base-border);
    background: var(--base-background);
    box-shadow: var(--base-shadow);
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    outline:none;

    opacity: 0;
    filter: blur(50px);
    user-select: none;
    cursor: default;

    *{
        scale: 0;
    }
}

#settings-menu.open {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 400px;
    height: calc(100vh - 40px);

    box-sizing: border-box;
    padding: 10px 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;

    border-radius: var(--base-roundness);
    border: var(--base-border);
    background: var(--base-background);
    box-shadow: var(--base-shadow);
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    outline:none;

    opacity: 1;
    filter: blur(0px);

    *{
        scale: 1;
    }
}

#settings-header {
    width: 100%;
    display: flex;
    flex-direction: row; 

    h2 {
        width: 100%;
    }
}

#settings-list {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: max-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.setting {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

.setting-label {
    font-size: 14px;
    font-weight: 600;

    color: var(--date-color);
}

.setting-slider-label {
    font-size: 14px;
    font-weight: 600;
    transform: translate(10px, 19px);
    height: 0px;
    font-weight: 400;
    color: white;
}

.setting-input {
    width: calc(100% - 10px);
    padding: 9px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    background: var(--sb-background);
    background-blend-mode: luminosity, color-burn;
    box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 1px 1.5px 4px 0px rgba(0, 0, 0, 0.10) inset;
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    border: none;
    transition: all 0.5s ease;
    font-size: 13.5px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    gap: 5px;
    border: none;
    outline: none;
    overflow: visible;
    ::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    
}

#setting-applyreset {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#uploadDiv {
    color: rgba(255, 255, 255, 0.23);
}

#uploadDiv:hover {
    color: white;
    background-color: var(--sb-background);
}

#uploadDiv:active{
transform: scale(0.8);
background-color: rgba(255, 255, 255, 0.142);
}



#save-settings {
    width: calc(200% / 3);
    min-height: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--sb-background);
    background-blend-mode: luminosity, color-burn;
    box-shadow: 1px -1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 1px -1.5px 4px 0px rgba(0, 0, 0, 0.10) inset;
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    border: none;
    font-size: 13.5px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#reset-settings {
    width: calc(100% / 3);
    min-height: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--sb-background);
    background-blend-mode: luminosity, color-burn;
    box-shadow: 1px -1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 1px -1.5px 4px 0px rgba(0, 0, 0, 0.10) inset;
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    border: none;
    font-size: 13.5px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#reset-settings:hover{
    width: calc(100% / 3 + 40px);
    color: white;
}

#save-settings:hover{
    width: calc(200% / 3 + 40px);
    color: white;
}

#save-settings:active{
    transform: scale(0.8);
    background-color: rgba(255, 255, 255, 0.142);
}

#reset-settings:active{
    transform: scale(0.8);
    background-color: rgba(255, 255, 255, 0.142);
}

::-webkit-scrollbar {
    background-color: transparent;
    display: block;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}


.toggle-switch, .toggle-switch .toggle-knob {
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.toggle-switch {
    height: 30px;
    width: 50px;
    display: inline-block;
    border-radius: 15px;
    background: var(--sb-background);
    background-blend-mode: luminosity, color-burn;
    box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 1px 1.5px 4px 0px rgba(0, 0, 0, 0.10) inset;
    background-blend-mode: luminosity;
    backdrop-filter: blur(20px);
    border: none;
}
.toggle-switch:last-child {
    margin-bottom: 5px;
}

@keyframes fade-in {
    from { 
        opacity: 0; 
        filter: blur(20px);
    }
    to { 
        opacity: 1; 
        filter: blur(0);
    }
}

.fade-in {
    animation: fade-in 0.5s ease;
}

div {
}
  

.hidden {
    opacity: 0;
    position: fixed;
  
}

#fileInput {
    display: none;
}

.settings-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.toggle-switch .toggle-knob {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    
    border-radius: 26px;
    margin: 4px 4px;
}

.toggle-switch.active {
    background-color: #32d74b;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.354);
}

.toggle-switch.active .toggle-knob {
    margin: 4px 25px;
}

